@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: rgb(230, 142, 142);
  background: linear-gradient(135deg, rgba(230, 142, 142, 1) 0%, rgba(234, 182, 85, 1) 100%);
  font-size:12px;
  font-family: 'Open Sans', sans-serif;
}

.mainContainer {
  margin: 0 auto;
  margin:10px;
  width:calc(100% - 20px);
  min-height:350px;
  background:white;
  border-radius: 2px;
  position:relative;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .15);
}

/* .logged-in-content {
    min-height:100vh;
    width:100%;
    background: rgb(118,192,219);
    background: linear-gradient(135deg, rgba(118,192,219,1) 0%, rgba(92,224,143,1) 100%);
} */

.mainContainer h1 {
    margin:0px 10px;
    font-size: 18px;
}

img {
    width:calc(100% - 20px);
    margin:10px;
}

.top-login {
    top:0px;
    background: #C35A5A;
    text-align: center;
    color:white;
    font-weight:500;
    padding:2px;
    border-radius: 2px 2px 0px 0px;
}

.choose-type {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding:10px 40px;
  margin-top:40px !important;
  margin:0 auto;
  max-width:300px;
}

.form {
  display: flex;
  flex-direction: column;
  padding:20px 20px 40px 40px;
  max-width:300px;
  margin:0 auto;
}

.form input {
  margin-bottom: 10px;
}

input[type=radio] {
    margin-right:5px;
}

.signin {
    align-content: center;
}

.login {
    background: #C35A5A;
    color:white;
    border:none;
    padding:5px 20px;
    min-width:100px;
    margin:0 auto;
    border-radius:2px;
}

.warning {
    color:red;
    font-size:10px;
    margin-top:10px;
    text-align:center !important;
}

.warning-login {
    color:red;
    font-size:8px;
}

.login:disabled {
    background:lightgray;
}

.logout {
    position:absolute;
    right:10px;
    bottom:10px;
}

.logout a {
    color:white;
    text-decoration: none;
    border-radius:2px;
}

.login:hover {
    background:#df8888;
    transition: .2s;
    cursor: pointer;
}

@media only screen and (min-width:599px) {

    body {
        padding-top:20vh;
    }

    .mainContainer {
        max-width: 500px;
        width:100%;
        min-height:350px;
        margin:0 auto;
      }

      .logged-in {
          min-height:400px;
      }

}